
<% include partials/header %>

  <div class="container">

  <h1>All Posts</h1>
    <% for (let value of blogs) { %>
      <ul>
        <li> <h2> <%= value.title %> </h2></li>
        <li class="date"> <%- value.created.toDateString() %> </li>
        <li> <%= value.subtitle.substring(0, 70) + '...' %> </li>
        <li class="read-more"> <a href='/posts/<%=value._id%>'>Read More</a> </li>
    </ul>
    <% } %>

  </div>

<% include partials/footer %>

