    
    <footer>
      Coded and Designed by <a href="">Emerson Lopes</a>
    </footer>
    <script src="/js/script.js"></script>
    <script id="dsq-count-scr" src="//emersonlbr.disqus.com/count.js" async></script>
</body>
</html>