.container {
  width: 800px;
  background-color: rgb(118, 201, 201);
  margin: auto;
  border-radius: 20px;
}

h1 {
  color: rgb(143, 20, 20);
  text-align: center;
}

ul {
  list-style: none;
  color: rgb(58, 22, 94);
}